@charset "ut-f8";

@keyframes subir_site1 {
    from {
        opacity: 0;
        top: 60%;
    }

    to {
        opacity: 1;
        top: 50%;
    }
}

@keyframes deslisar_site2 {
    from {
        opacity: 0;
        right: -30px;
    }

    to {
        opacity: 1;
        right: 10px;
    }
}

@keyframes subir_site3 {
    from {
        opacity: 0;
        bottom: 0px;
    }

    to {
        opacity: 1;
        bottom: 30px;
    }
}

@keyframes decer_site4 {
    from {
        opacity: 0;
        top: 0px;
    }

    to {
        opacity: 1;
        top: 30px;
    }
}

@keyframes deslisar_site5 {
    from {
        opacity: 0;
        left: -20px;
    }

    to {
        opacity: 1;
        left: 0px;
    }
}

@keyframes aparecer_botao {
    from {
        opacity: 0;
        margin-top: 30px;
    }

    to {
        opacity: 1;
        margin-top: 10px;
    }
}

@keyframes aparecer_solido {
    from {
        opacity: 0px;
        margin-left: -20px;
    }

    to {
        opacity: 1;
        margin-left: 50%;
        transform: translate(-50%);
    }
}

@keyframes sumir_solido {
    to {
        opacity: 0;
        margin-right: -20px;
    }
}

@keyframes amostra2 {
    from {
        opacity: 0;
        left: 0;
    }

    to {
        opacity: 1;
        left: 19%;
    }
}

@keyframes amostra3 {
    from {
        opacity: 0;
        right: -25%;
    }

    to {
        opacity: 1;
        right: -5%;
    }
}
