@charset "ut-f8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


.amosi_site {
    width: 80%;
    height: 200px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.382);
    margin-bottom: 50px;
}

.amosi_site_titulo {
    font-size: 1.5em;
    margin: 0px 0px 5px 10px;
}

.amosi_site_img {
    background-color: blueviolet;
    width: 230px;
    height: 150px;
    margin: 0px 0px 0px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.32);
    background-image: url("../midia/img/Captura\ de\ tela\ 2023-10-20\ 172049.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.amosi_site_desc {
    width: 40%;
    margin: 0px 0px 0px 20px;
}
