@charset "ut-f8";

html , body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.limite_limite {
    width: 100%;
    display: flex;
    justify-content: center;
}

.limitar {
    width: 800px;
    height: 400px;
    position: absolute;
}

.conteudo {
    width: 100%;
    height: 80vh;
    margin: auto;
    position: relative;
}

.contem_2 {
    display: block;
    margin: 50px 0px 100px 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.contem_2 > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    width: 60%;
    max-width: 700px;
    color: black;
    line-height: 1.5em;
    opacity: 0.8;
    margin-top: 100px;
}

.rolsi_sites {
    width: 80vw;
    height: 40vh;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.302);
    position: absolute;
    bottom: 10px;
    left: 30px;
    animation-name: entrar_site_ex_001;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.rolsi_img{
    width: 35vw;
    max-width: 370px;
    height: 45vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.um {
    bottom: 60px;
    z-index: 2;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.371);
}

/* informacao */

.rolsi_titulo{
    position: absolute;
    opacity: 0;
    top: 20px;
    left: 470px;
    font-size: 2em;
    animation-name: deslisar_titulo;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.rolsi_desc {
    width: 30vw;
    max-width: 300px;
    position: absolute;
    top: 70px;
    left: 450px;
    font-size: 1.3em;
    opacity: 0;
    animation-name: deslisar_desc;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}
