@charset "ut-f8";

html , body {
    width: 100%;
    height: 100%;
}

.contem_4 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.msg {
     width: 100%;
     display: flex;
     justify-content: center;
     margin: 50px 0px;
}

.msg > h1{
    width: 90%;
    color: orange;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.centralizar_img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_logo {
    width: 70vw;
}

.img_logo > img {
    width: 100%;
}

.texto{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0px;
    margin-top: 40px;
}

.texto > p {
    width: 70vw;
    font-size: 1.5em;
    text-align: center;
}

.lembrete {
    width: 100%;
    display: flex;
    justify-content: center;

}

.lembrete > p {
    width: 90vw;
    font-size: 1.5em;
    text-align: center;
}
