@charset "ut-f8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body , html {
    width: 100%;
    height: 100vh;
    background-color: rgb(243, 243, 243);
}


::-webkit-scrollbar {
    width: 10px;
    background-color: #e8ba12;
}

::-webkit-scrollbar-thumb {
    margin: 1px;
    background-color: #32bedd;
}

/* header */


.img {
    margin: 10px 0px 0px 0px;
}

.img > img{
    width: 200px;
    height: 80px;
}


/* main */

#sites_ex {
    background-color: transparent;
    width: 80vw;
    height: 40vh;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.site {
    background-color: #32bedd;
    margin: 10px;
    border-radius: 20px;
    position: absolute;
    cursor: pointer;
    box-shadow: 2px 2px 5px #00000055;
}

#site_1 {
    width: 150px;
    height: 200px;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-image: url(../midia/img/Captura\ de\ tela\ 2023-10-20\ 172058.png);
    background-size: cover;
    background-position: center;
    animation-name: subir_aparecendo;
    animation-duration: 2s;
}

#site_2 {
    width: 200px;
    height: 70px;
    z-index: 3;
    top: 10px;
    right: 10px;
    background-image: url(../midia/img/Captura\ de\ tela\ 2023-10-20\ 174632.png);
    background-size: cover;
    background-position: center top;
}

#site_3 {
    width: 70px;
    height: 200px;
    z-index: 3;
    right: 5px;
    bottom: 30px;
    background-image: url(../midia/img/Captura\ de\ tela\ 2023-10-20\ 174632.png);
    background-size: cover;
    background-position: bottom;
}

#site_4 {
    width: 100px;
    height: 150px;
    z-index: 3;
    top: 30px;
    background-image: url(../midia/img/Captura\ de\ tela\ 2023-10-20\ 174632.png);
    background-size: cover;
    background-position: bottom;
}

#site_5 {
    width: 180px;
    height: 100px;
    z-index: 2;
    background-color: #e8ba12;
    bottom: 20px;
    background-image: url(../midia/img/Captura\ de\ tela\ 2023-10-20\ 171922.png);
    background-size: cover;
    background-position: center;
}

#site_6 {
    width: 40px;
    height: 80px;
    z-index: 3;
}

.texto{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0px;
    margin-top: 40px;
}

.texto > p {
    width: 80vw;
    font-size: 1.5em;
    text-align: center;
}

button {
    border: none;
    background-color: rgb(82, 190, 219);
    width: 160px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.525);
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 1.5em;
    animation-name: subir_aparecendo;
    animation-duration: 2s;
}

a{
    text-decoration: none;
    color: black;
}
