@charset "ut-f8";

@media screen and (min-width: 768px) {
    main {
        max-width: 550px;
        max-height: 400px;
    }

    form {
        margin-right: auto;
        margin-left: 40px;
    }

    img {
        right: -80px;
    }

}
